<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h2 class="reCtitle">
        Esta é a página para a edição das informações de um funcionário
    </h2>
    <form class="reCform" action="/editEmployers/new/<%= employer._id %>" method="POST">
        <label for="">Nome:</label>
        <input type="text" name="name" value="<%= employer.name %>"><br>

        <label for="">Sobrenome:</label>
        <input type="text" name="lastname" value="<%= employer.lastname %>"><br>

        <label for="">Idade:</label>
        <input type="text" name="age" value="<%= employer.age %>"><br>

        <button type="submit">Editar</button>
    </form>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/foot.ejs') %>
</body>
</html>